<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>Pokemon Show Page</h1>

    <h2><%= Pokemon.name %></h2>
    <img src="<%= Pokemon.img %>"/>
    <h4>Type: <%= Pokemon.type %></h4>
    <h4>Attack: <%= Pokemon.stats.attack %></h4>
    <h4>Hit Points: <%= Pokemon.stats.hp %></h4>
    <h4>Defense: <%= Pokemon.stats.defense %></h4>
    <h4>Speed: <%= Pokemon.stats.speed %></h4>


    
    
    



    
</body>
</html>