<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <!-- <h1>Pokemon</h1> -->

    <h1><%= Pokemon.name %></h1>
    <img src="<%= Pokemon.img %>"/>

    <h2>Type:</h2>
    
    <ul>        
        <% for(let i=0; i<Pokemon.type.length; i++) { %>
            <li><h4><%= Pokemon.type[i] %></h4></li>
        <% } %>
    </ul>

    <h2>Stats:</h2>
        <ul>
        <li><h4>Attack: <%= Pokemon.stats.attack %></h4></li>
        <li><h4>Hit Points: <%= Pokemon.stats.hp %></h4></li>
        <li><h4>Defense: <%= Pokemon.stats.defense %></h4></li>
        <li><h4>Speed: <%= Pokemon.stats.speed %></h4></li>
    </ul>

    

    <h3>
        <a href="/pokemon/">Return Back To Main Page</a>
    </h3>

    
    
    



    
</body>
</html>